.v-button {
  @apply inline-flex items-center justify-center capitalize cursor-pointer transition-colors duration-300 outline-none;
  @apply text-base rounded-md px-4 py-2 bg-white text-black;

  &__content {
    @apply inline-flex items-center;
  }

  &__prepend {
    @apply mr-2;
  }

  &__append {
    @apply ml-2;
  }

  &--icon-only {
    @apply p-2 w-10 h-10 justify-center;
  }

  &--stacked {
    @apply flex-col p-3;
  }

  &--size-xs {
    @apply px-2 py-1 text-xs;
    --v-icon-size: 1rem;
    --v-button-scale: 1.5rem;
  }

  &--size-sm {
    @apply px-3 py-1.5 text-sm;
    --v-icon-size: 1.25rem;
    --v-button-scale: 2rem;
  }

  &--size-base {
    @apply px-4 py-2 text-base;
    --v-icon-size: 1.5rem;
    --v-button-scale: 2.5rem;
  }

  &--size-lg {
    @apply px-5 py-2.5 text-lg;
    --v-icon-size: 2rem;
    --v-button-scale: 3rem;
  }

  &--size-xl {
    @apply px-6 py-3 text-lg;
    --v-icon-size: 2.5rem;
    --v-button-scale: 3.5rem;
  }

  &--color-primary {
    @apply bg-primary-500 text-white border-white;
  }

  &--color-secondary {
    @apply bg-secondary-500 text-white border-secondary-400;
  }

  &--color-success {
    @apply bg-green-500 text-white border-green-400;
  }

  &--color-danger {
    @apply bg-red-500 text-white border-red-400;
  }

  &--color-warn {
    @apply bg-yellow-500 text-white border-yellow-400;
  }

  &--color-info {
    @apply bg-primary-400 text-white border-primary-400;
  }

  &--color-light {
    @apply bg-gray-200 text-gray-800 border-gray-400;
  }

  &--color-dark {
    @apply bg-slate-700 text-white border-slate-400;
  }

  &--color-help {
    @apply bg-blue-500 text-white border-blue-400;
  }

  &--variant-primary {
    @apply bg-opacity-100 font-medium shadow-md; /* Strong and bold */
  }

  &--variant-secondary {
    @apply bg-opacity-80 font-medium shadow-sm border; /* Softer version of primary */
  }

  &--variant-outlined {
    @apply bg-transparent border border-opacity-20 shadow-none; /* Outlined without background */
  }

  &--variant-text {
    @apply bg-transparent shadow-none font-medium hover:underline; /* Text button with underline on hover */
  }

  &--variant-link {
    @apply bg-transparent text-base underline shadow-none; /* Link style */
  }

  &[data-state='loading'] {
    @apply cursor-wait opacity-70;
  }

  &[data-state='disabled'] {
    @apply cursor-not-allowed opacity-50 pointer-events-none;
  }

  &[data-state='active'] {
    @apply shadow-inner;
  }

  &[data-state='idle'] {
    @apply opacity-100;
  }

  &:hover:not([data-state='disabled']) {
    @apply bg-opacity-90; /* Generic hover state to slightly adjust background */
  }

  &:focus:not([data-state='disabled']) {
    /* @apply outline-none ring-2 ring-offset-2 ring-primary-500; */
  }
}
